* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  color: #0366d6;
  text-decoration: none;
}

pre {
  font-size: 1.4rem;
}

.content {
  margin: 0 auto;
  max-width: 72rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 15rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background-color: #fff;
  margin-bottom: 4rem;
}

.home-icon {
  width: 25px;
  opacity: 0.6;
  transition: 0.4s opacity;
}

.home-icon:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    justify-content: space-around;
  }
}

.header-link {
  margin-right: 4rem;
}
